.my-recipe-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6c6c6c;
    text-decoration: none;
    cursor:pointer;
}

.my-recipe-item .rec-img{
    width: 60px;
}