<form class="p-2">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="iName">Name</label>
            <input type="text" class="form-control" id="iName" #myIngName>
        </div>
        <div class="form-group col-md-4">
            <label for="iBrand">Brand</label>
            <input type="text" class="form-control" id="iBrand" #myIngBrand>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label for="iImg">Image Link</label>
        <input type="text" class="form-control" id="iImg" #myIngImg>
    </div>
    <div class="form-row my-form-row">
        <div class="form-group col-md-3">
            <label for="iQty">Qunatity</label>
            <input type="text" class="form-control" id="iQty" #myIngQty>
        </div>
        <div class="form-group col-md-3">
            <label for="iPrice">Price</label>
            <input type="text" class="form-control" id="iPrice" #myIngPrice>
        </div>
        <div class="form-group col-md-6">
            <!-- <button type="button" class="btn btn-primary btn-block" (click)= "addNewIngredient(myIngName,myIngBrand, myIngImg, myIngQty,myIngPrice)">Add</button> -->

            <button type="button" class="btn btn-primary btn-block" (click)="addNewIngedient()">Add</button>
        </div>
    </div>
</form>